/* CSS global */
body {
    font-family: 'Arial', sans-serif;
}

.main-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Isso espaçará igualmente os botões */
    align-items: center; /* Isso os alinhará verticalmente */
}

.main-buttons-container .stButton > button {
    width: 150px; /* Define uma largura fixa para todos os botões */
    margin: 0 10px; /* Adiciona uma margem horizontal entre os botões */
}


/* Centralizar o conteúdo */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilizar os botões */
button {
    color: white; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px; /* Bordas arredondadas */
}

button:hover {
    background-color: #f7b2b2; /* Cor de fundo ao passar o mouse */
}